html {
    scroll-behavior: smooth;
}

:root {
    --wh: white;
    --org: hsl(24, 93%, 46%);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.font-kanit {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

body {
    background: #eee;
    height: 100vh;
    margin: 0;
    color: hsl(8, 38%, 23%);
    overflow-x: hidden;
    font-family: "thonglor";
}

body[data-mode="main"],
body[data-mode="home"] {
    background: url(img/bg/bg_main.jpg);
    background-position: center top;
}

body[data-mode="home"] {
    overflow-y: hidden;
}

body[data-mode="main"] {
    height: 7500px;
}

* {
    box-sizing: border-box;
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 24px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /* border: 5px solid orange; */
}

.page-content {
    text-align: center;
}

.home-logo {
    margin: 50px;
}

.home-logo>img {
    width: 175px;
}

.img-page2 {
    width: 30vh;
    bottom: 0;
    position: absolute;
}

.img-page2:hover {
    cursor: pointer;
}

.text-parrot-fish {
    color: var(--org);
    font-size: 36px;
    /* font-weight: bold; */
}

.text-white-16 {
    color: var(--wh);
    font-size: 16px;
}

.text-white-22 {
    color: var(--wh);
    font-size: 22px;
}

.text-white-36 {
    color: var(--wh);
    font-size: 36px;
}

.text-org-36 {
    color: var(--org);
    font-size: 36px;
}

.div-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-home {
    margin-top: 20px;
}

button,
.btn-classics {
    border-style: none;
    padding: 20px 60px;
    margin: 10px 0;
    background: white;
    border-radius: 50px;
}

.parrot-ani {
    animation: dukdik 0.5s linear infinite, swim 8s linear infinite;
    animation-delay: -10s;
}

@keyframes dukdik {
    50% {
        transform: translateX(2px)rotate(4deg);
    }
    100% {
        transform: translateX(0px)rotate(0deg);
    }
}

@keyframes swim {
    0% {
        left: 100vw;
    }
    100% {
        left: -50vw;
    }
}

img {
    width: 100%;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 4px hsl(0, 100%, 0%, .25);
}

.btn-sm {
    padding: 15px 30px;
    font-size: 15px;
}

.btn-fade {
    background: hsl(0, 100%, 100%, .75);
}

#main3 {
    padding: 200px 0;
    height: 300vh;
}

.img-main3[data-show="0"] {
    transform: translateX(-100vw) scaleX(-1);
}

.img-main3[data-show="1"] {
    animation: fish-swim 3s linear;
}

.img-main3 {
    width: 100vw;
    text-align: center;
    --mvY: 0;
    transform: translateX(0px) translateY(calc(var(--mvY) * 1px)) scaleX(-1);
}

@keyframes fish-swim {
    from {
        transform: translateX(-100vw) scaleX(-1);
    }
}

.img-main3>img {
    width: 50vw;
    animation: dukdik 1s linear infinite;
}

#text2-in-main3 {
    width: 100vw;
    position: absolute;
    bottom: 105vh;
}

@media (max-width: 500px) {
    body[data-mode="main"] {
        background: url(img/bg/mb_bg_main.jpg);
        background-position: center top;
        background-size: 125vw auto;
        height: 6825px;
    }
    .mb-fs-24,
    .btn-sm {
        font-size: 3vw!important;
    }
    .mb-fs-30,
    .btn-classics {
        font-size: 4vw;
    }
    .mb-fs-48 {
        font-size: 6vw;
    }
    .img-main3>img {
        width: 100vw;
        animation: dukdik 1s linear infinite;
    }
}