html {
    scroll-behavior: smooth;
}

:root {
    --wh: white;
    --org: hsl(24, 93%, 46%);
    --aqua: hsl(182, 60%, 39%);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.font-kanit {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

body {
    background: #eee;
    /* height: 100vh; */
    /* height: fit-content; */
    margin: 0;
    color: hsl(8, 38%, 23%);
    overflow-x: hidden;
    font-family: "thonglor";
}

.part {
    overflow-x: hidden;
    width: 100vw;
    z-index: 2;
    position: absolute;
    transition: .25s;
}

#story-part>div,
#more-part>div {
    text-align: center;
    top: 500px;
}


body[data-mode="main"]{
    /* background: url(img/bg/mobile/bg_main.jpg); */
    background-position: center top;
    /* height: 7500px; */
}

body[data-mode="story"] {
    background: darkcyan;
    height: 100vh;
}

body[data-mode="more"] {
    background: salmon;
    height: 100vh;
}

body[data-mode="main"]>:where(#story-part, #more-part) {
    opacity: 0;
    z-index: 0;
}

body[data-mode="story"]>:where(#main-part, #more-part) {
    opacity: 0;
    z-index: 0;
}

body[data-mode="more"]>:where(#story-part, #main-part) {
    opacity: 0;
    z-index: 0;
}

#story-part,
#more-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    padding: 0 24px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.page {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    /* border: 5px solid orange; */
}

#home {
    background: url(img/bg/mobile/ฉากเริ่มต้น4.png);
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.page-content {
    text-align: center;
}

.home-logo {
    margin: 50px;
}

.home-logo>img {
    width: 175px;
}

.small-ship{
    width: 250px;
    position: absolute;
    bottom: 30vh;
    right: 0;
    animation: ship-move 10s infinite linear, ship-idle .5s infinite linear alternate;
}

#main2 {
    background: url(img/bg/mobile/ฉากเริ่มต้น3.png);
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.img-page2 {
    width: 30vh;
    bottom: 0;
    position: absolute;
}

.img-page2:hover {
    cursor: pointer;
}

.text-parrot-fish {
    color: var(--org);
    font-size: 36px;
    /* font-weight: bold; */
}

.text-white-16 {
    color: var(--wh);
    font-size: 16px;
}

.text-white-22 {
    color: var(--wh);
    font-size: 22px;
}

.text-white-36 {
    color: var(--wh);
    font-size: 36px;
}

.text-org-22 {
    color: var(--org);
    font-size: 22px;
}

.text-org-36 {
    color: var(--org);
    font-size: 36px;
}

.div-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-home {
    margin-top: 20px;
}

button,
.btn-classics {
    border-style: none;
    padding: 20px 60px;
    margin: 10px 0;
    background: white;
    border-radius: 50px;
}

.parrot-ani {
    animation: dukdik 0.5s linear infinite, swim 8s linear infinite;
    animation-delay: -10s;
}

@keyframes dukdik {
    50% {
        transform: translateX(2px)rotate(4deg);
    }
    100% {
        transform: translateX(0px)rotate(0deg);
    }
}

@keyframes swim {
    0% {
        left: 100vw;
    }
    100% {
        left: -50vw;
    }
}

img {
    width: 100%;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 4px hsl(0, 100%, 0%, .25);
}

.btn-sm {
    padding: 15px 30px;
    font-size: 15px;
}

.btn-fade {
    background: hsl(0, 100%, 100%, .75);
}

@keyframes ship-move {
    from {
        right: -25vw;
    }
    to {
        right: 125vw;
    }
}

@keyframes ship-idle {
    to {
        transform: translateY(10px);
    }
}

#main3 {
    padding: 200px 0;
    height: 100vh;
    overflow: visible;
    background: url(img/bg/mobile/ฉากเริ่มต้น2.png);
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.img-main3[data-show="0"] {
    transform: translateX(125vw) scaleX(-1);
    /* animation: fish-swim-go 2s; */
}

.img-main3[data-show="1"] {
    animation: fish-swim 2s;
}

.img-main3 {
    width: 100vw;
    text-align: center;
    z-index: 1;
    top: 45vh;
    position: fixed;
    transform: translateX(0px) scaleX(-1);
}


@keyframes fish-swim {
    from {
        transform: translateX(-75vw) scaleX(-1);
    }
}

@keyframes fish-swim-go {
    from {
        transform: translateX(0px) scaleX(-1);
    }
    to {
        transform: translateX(125vw) scaleX(-1);
    }
}

.img-main3>img {
    width: 20vw;
    animation: dukdik 1s linear infinite;
}

#parrot-in-main3[data-play="1"] {
    cursor: pointer;
}

.img-fish {
    display: inline-block !important;
    width: 9vw;
    position: absolute;
}

.dory {
    transform: scaleX(-1);
    left: 15vw;
    top: 80vh;
    animation: dukdik 0.7s linear infinite;
    animation-delay: -10s;
}

.mkfish {
    left: 25vw;
    top: 98vh;
    animation: dukdik 0.7s linear infinite;
    animation-delay: -10s;
}

.yellowfish {
    right: 20vw;
    top: 90vh;
    animation: dukdik 0.7s linear infinite;
    animation-delay: -10s;
}

.nemo {
    right: 25vw;
    top: 115vh;
    animation: dukdik 0.5s linear infinite, swim 9s linear infinite;
    animation-delay: -10s;
}

.star {
    transform: scaleX(-1);
    left: 30vw;
    top: 140vh;
    animation: dukdik 2s linear infinite;
    animation-delay: -10s;
}

.shell-l {
    left: 10vw;
    top: 125vh;
}

.shell-r {
    transform: scaleX(-1);
    right: 20vw;
    top: 150vh;
}

#text2-in-main4 {
    width: 100vw;
    margin-top: 30vh;
}

#main4 {
    background: url(img/bg/mobile/ฉากเริ่มต้น1.png);
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}

.fishing-ship {
    width: 100vw;
    text-align: center;
    transform: translateY(15vh);
}

.fishing-ship>img{
    width: 50%;
}

.page[data-show="0"] {
    display: none;
}

#main5 {
    background: url(img/bg/mobile/ฉากเริ่มต้น7.png);
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
}

#main6 {
    background: url(img/bg/mobile/ฉากเริ่มต้น6.png);
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 200px;
}

#main7{
    background: url(img/bg/mobile/ฉากเริ่มต้น5.png);
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: fit-content;
}

.btn-to-story {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 25px;
}

.btn-to-story>button {
    color: var(--aqua);
}

@media (max-width: 500px) {

    #home{
        background: url(img/bg/mobile/ฉากเริ่มต้น4.png);
        background-size: 100% 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    #main2{
        background: url(img/bg/mobile/ฉากเริ่มต้น3.png);
        background-size: 100% 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    #main3{
        background: url(img/bg/mobile/ฉากเริ่มต้น2.png);
        background-size: 100% 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    #main4{
        background: url(img/bg/mobile/ฉากเริ่มต้น1.png);
        background-size: 100% 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    #main5{
        background: url(img/bg/mobile/ฉากเริ่มต้น7.png);
        background-size: 100% 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    #main6{
        background: url(img/bg/mobile/ฉากเริ่มต้น6.png);
        background-size: 100% 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    #main7{
        background: url(img/bg/mobile/ฉากเริ่มต้น5.png);
        background-size: 100% 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .mb-fs-24,
    .btn-sm {
        font-size: 3vw!important;
    }
    .mb-fs-30,
    .btn-classics {
        font-size: 4vw;
    }
    .mb-fs-48 {
        font-size: 6vw;
    }
    .img-main3>img {
        width: 40%;
    }
    .fishing-ship>img {
        width: 90%;
    }
}


/* รอลบได้เลย */

.coming-soon {
    font-size: 24px;
    margin-bottom: 40px;
}

.text-coming-soon {
    font-size: 50px;
}